body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:black;
    padding: 30px;
}
.container {
    width: 500px;
    margin: 46px 20px ;
}
.form {
    background-color: #eee;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    align-items: center;
}
.input  {
    padding: 10px;
    border: 3px solid #ddd;
    border-radius: 6px; 
    flex: 1;
    color: white;
}
.input:focus , .add:focus{
    outline: none;
}
.H2{
    color: white;
    margin-top: 20PX;
}
.add {
    border: none;
    background-color: lightblue;
    color: white;
    padding: 10px;
    border-radius: 6px;
    margin-left: 10px;
    cursor: pointer;
}
.tasks {
    background-color: #eee;
    margin-top: 20px;
    border-radius: 6px;
    padding: 2px;
    padding-left: 32px;
    padding-right: 32px;
}
.tasks .task {
    background-color: white;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
    border: 1px solid #ccc;
}
.tasks button{
    background-color: lightblue;
}
.tasks .task:not(:last-child) {
    margin-bottom: 15px;
}
.tasks .task:hover {
    background-color: #f7f7f7;
}
.tasks .task.done {
    opacity: 0.5;
    position: relative;
}
.task.done::after {
    position: absolute;
    content: "";
}
.tasks .task span { 
    font-weight: bold;
    font-size: 10px;
    background-color: black;
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
    cursor: pointer;
}
.delete-all {
    width: calc(100% - 25px);
    margin: auto;
    padding: 12px;
    text-align: center;
    font-size: 14px;
    color: black;
    background-color: lightblue;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 4px;
}