*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.header
{
    height: 80px;
    width: 70%;
    background-color: goldenrod;
    border-radius: 3px;
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

}
.header.logo{
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.cart{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 3px;
    width: 80px;
}
.fa.solid{
    color: goldenrod;

}
.cart p{
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    background-color: goldenrod;
    color: white;
}
.container{
    display: flex;
    width: 70%;
    margin-bottom: 30px;
}
#root{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
}
.slidebar{
    width: 430%;
    border-radius: 5px;
    background-color: wheat;
    margin-left: 20px;
    padding: 35px;
    text-align: center;
}
.card{
    margin-left: 40px;
    display: flex;
    padding: 33px;
    gap: 6px;
}
.card button{
    padding: 2px;
    width: 33px;
   justify-content: space-around;
    border: none;
    background-color: goldenrod;
}
/* second */
.card2{
    margin-left: 40px;
    display: flex;
    padding: 33px;
    gap: 6px;
}

.card2 button {
    padding: 2px;
    width: 31px;
    height: 35px;
    justify-content: space-around;
    border: none;
    background-color: goldenrod;
}


.card1{
   
    margin-left: 30px;
}
.card1 button{
    width: 55px;
    background-color: goldenrod;
}
.card6 button{
    margin-left: 22px;
    width: 50px;

}
.card3{
   
    margin-left: 30px;
}
.card3 button{
    width: 55px;
    background-color: goldenrod;
}
.head{
    background-color: goldenrod;
    border-radius: 3px;
    height: 40px;
    padding: 20px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    align-items: center;
}
.head p {
    margin-left: 30px;
}
.foot{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid #333;
}